:root {
    --bg-color: #261B59;
    --color: #261B59;
    --color-hover: #3b2392;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaBT-Heavy.woff2') format('woff2'),
        url('../fonts/FuturaBT-HeavyItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: 'Futura';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

/* 
    FIRST SECTION  
*/

.nav .container {
    position: relative;
    display: flex;
}

.rectangle1 {
    position: absolute;
    right: -4%;
    width: 30%;
}

.rectangle2 {
    position: absolute;
    right: -12%;
    z-index: -1;
    width: 50%;
}

.rectangle3 {
    position: absolute;
    width: 35%
}

.rectangle6 {
    position: absolute;
    top: 0;
    left: -10%;
    z-index: -1;
    width: 30%;
}

.nav__logo__link {
    padding: 30px 0;
}

.nav-list {
    display: flex;
    margin-top: 30px;
    margin-left: 100px;
    padding: 30px 0;
}


.nav-item {
    padding: 0 7px;
    margin: 0 5px;
}

.nav-link {
    font-size: 17px;
    color: var(--color);
    transition: color .3s;
}

.nav-link:hover {
    color: var(--color-hover);
}

.nav-item:last-child .nav-link {
    background-color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    transition: background .3s;
}

.nav-item:last-child .nav-link:hover {
    background-color: var(--color-hover);
}

/* 
    SECOND SECTION
*/

.attent .container {
    padding: 300px 0;
    padding-bottom: 200px;
}

.attent__content__title {
    font-size: 55px;
    color: var(--color);
    width: 40%;
    margin-bottom: 30px;
}

.attent__content__text {
    font-size: 15px;
    color: rgba(0,0,0,0.6);
    width: 45%;
    line-height: 1.5;
    margin-bottom: 60px;
}

.service {
    background-color: white;
    width: 40%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 20px 30px;
}

.service__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.service__item1 {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown-list {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
}

.service__list .service__item1:hover .dropdown-list {
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    margin-bottom: 5px;
    padding: 6px 15px;
}

.service__slog {
    font-size: 15px;
    color: rgba(0,0,0,0.6);
}

.service__link {
    margin-left: 40px;
}

.service__item .service__item__link {
    color: white;
    background-color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 5px;
}

.service__item .service__item__link:hover {
    background-color: var(--color-hover);
}

.attent__img__section {
    position: relative;
}

.rectangle3 {
    position: absolute;
    z-index: -1;
    bottom: 0%;
    right: 18%;
    width: 35%;
    height: 400px;
}

.rectangle4 {
    position: absolute;
    bottom: 100%;
    right: -15%;
    height: 400px;
}

.rectangle5 {
    position: absolute;
    z-index: -3;
    right: -15%;
    width: 30%;
}

.dots1 {
    position: absolute;
    z-index: -1;
    height: 120px;
    left: -5%;
    bottom: 50%;
    transform: translateY(50%);
}

/* 
    THIRD SECTION   
*/

.centers .container {
    margin-top: 200px;
}

.children {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.children__image {
    width: 50%;
    position: relative;
}

.children__img {
    width: 80%;
}

.children-blue {
    position: absolute;
    z-index: -1;
    left: -7%;
    top: -10%;
    width: 100%;
}

.children__content, .screen__content {
    width: 40%;
}

.children__content__title {
    font-size: 50px;
    color: var(--color);
    margin-bottom: 30px;
}

.children__content__text {
    color: rgba(0,0,0,0.5);
    line-height: 1.7;
    margin-bottom: 50px;
}

.children__content__link {
    background-color: var(--bg-color);
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    transition: background .3s;
}

.children__content__link:hover {
    background-color: var(--color-hover);
}

.screen {
    margin-top: 40xp;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.screen__image {
    width: 50%;
    position: relative;
}

.screen__img {
    width: 80%;
}

.screen-blue {
    position: absolute;
    width: 100%;
    z-index: -1;
    left: -7%;
    top: -5%;
}

.screen__content__title {
    font-size: 50px;
    color: var(--color);
    margin-bottom: 30px;
}

.screen__content__text {
    margin-bottom: 40px;
    line-height: 1.7;
    color: rgba(0,0,0,0.5);
}

/* 
    FOURTH SESCTION 
*/

.main .container {
    padding: 200px 0;
}

.main__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.dots2 {
    position: absolute;
    z-index: -1;
    left: -25%;
    bottom: 100%;
    width: 210px;
}

.header__title {
    font-size: 50px;
    color: var(--color);
    margin-bottom: 30px;
}

.header__text {
    font-size: 18px;
    width: 80%;
    text-align: center;
    line-height: 1.7;
    color: rgba(0,0,0,0.5);
}

.main__footer {
    background-color: #E8F6FF;
    position: relative;
}

.dots3 {
    position: absolute;
    z-index: -1;
    bottom: -7%;
    right: -7%;
    width: 160px;
}

.footer__item {
    width: 50%;
    background-color: #F5F6F8;
    padding: 50px;
}

.right-box {
    margin-left: auto;
}

.right-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.book-link  {
    width: 25%;
}

.footer__title {
    color: var(--color);
    margin-bottom: 20px;
}

.footer__slog {
    font-size: 19px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.list-slog {
    text-align: right;
}

.footer__slog span {
    font-size: 17px;
}

.footer__text {
    font-size: 15px;
    width: 90%;
    line-height: 1.7; 
    color: rgba(0,0,0,0.5);
    margin-bottom: 30px; 
}

.footer__link {
    background-color: var(--bg-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background .3s;
}

.footer__link:hover {
    background-color: var(--color-hover);
}

/* 
    FIFTH SECTION
*/

.clients .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
    width: 1500px;
}

.client__bg-img {
    width: 45%;
    height: 400px;
}

.client__bg__img {
    width: 100%;
    height: 100%;
}

.client__info {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F6F8;
    padding: 80px 65px;
    position: relative;
}

.ellipse1, .ellipse2, .ellipse3 {
    position: absolute;
}

.ellipse1 {
    right: 5%;
    bottom: 9%;
    width: 2.5%;
}

.ellipse2 {
    right: 5%;
    bottom: 6%;
    width: 2.5%;
}

.ellipse3 {
    right: 5%;
    bottom: 3%;
    width: 2.5%;
} 

.comma {
    width: 25%; 
}

.client__info__text {
    margin-top: 50px;
    width:250px;
    text-align: center;
    color: #666666;
    font-size: 14px;
    line-height: 1.5;
}

.clients__info__name {
    margin-top: 30px;
    text-align: center;
    color: #261B59;
    font-weight: bold;
    font-size: 18px;
    width: 50%;
}

.patient{
    font-size: 14px;
}

.clients__slog {
    width: 20%;
    font-size: 70px;
    text-align: center;
    color: #261B59;
    opacity: 0.12156862745098039;
}

.client__slog {
    text-transform: uppercase;
}

/* 
    SIXTH SECTIOn
*/

.subscribe {
    background-color: #F5F6F8;
}

.subscribe .container {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.ellipse-11X, .ellipse-21X {
    position: absolute;
    opacity: .5;
    width: 9%;
}

.ellipse-11X {
    right: 10%;
    top: 5%;
}

.ellipse-21X {
    bottom: 0;
    left: 15%;
} 

.subscribe__title {
    font-size: 55px;
    color: var(--color);
    text-align: center;
    margin-bottom: 30px;
}

.subscribe__text{
    color: #666666;
    font-size: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.subscribe__form {
    background-color: white;
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.subscribe__input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 50%;
}

.subscribe__input::placeholder {
    font-size: 17px;
}

.subscribe__button {
    background-color: var(--bg-color);
    color: white;
    padding: 15px 25px;
    font-size: 17px;
    outline: none;
    border: none;
    border-radius: 3px;
    transition: background .3s;
}

.subscribe__button:hover {
    background-color: var(--color-hover);
}

/* 
    FOOTER SECTION
*/

.doctor-footer {
    background-color: #F5F6F8;
}

.doctor-footer .container {
    padding: 60px 0;
}

.doctor-footer__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    border-top: 2px solid rgba(0,0,0,0.1);
}

.doctor__list {
    display: flex;
    align-items: center;
}

.doctor__item {
    padding: 0 10px;
    margin: 0 5px;
}

.doctor__link {
    color: var(--bg-color);
}

.doctor-footer__link {
    padding: 0 5px;
    margin: 0 5px;
    color: var(--bg-color);
}

.doctor-footer__copyright {
    font-size: 14px;
    color: var(--bg-color);
    margin-top: 60px;
    text-align: center;
}