:root {
    --bg-color: #261B59;
    --color: #261B59;
    --color-hover: #3b2392;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaBT-Heavy.woff2') format('woff2'),
        url('../fonts/FuturaBT-HeavyItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: 'Futura';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

/* 
    FIRST SECTION  
*/

.nav .container {
    position: relative;
    display: flex;
}

.rectangle1 {
    position: absolute;
    right: -4%;
    width: 30%;
}

.rectangle2 {
    position: absolute;
    right: -12%;
    z-index: -1;
    width: 50%;
}

.rectangle3 {
    position: absolute;
    width: 35%
}

.rectangle6 {
    position: absolute;
    top: 0;
    left: -10%;
    z-index: -1;
    width: 30%;
}

.nav__logo__link {
    padding: 30px 0;
}

.nav-list {
    display: flex;
    margin-top: 30px;
    margin-left: 100px;
    padding: 30px 0;
}


.nav-item {
    padding: 0 7px;
    margin: 0 5px;
}

.nav-link {
    font-size: 17px;
    color: var(--color);
    transition: color .3s;
}

.nav-link:hover {
    color: var(--color-hover);
}

.nav-item:last-child .nav-link {
    background-color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.nav-item:last-child .nav-link:hover {
    background-color: var(--color-hover);
}


